.container {
    height: fit-content;
    background: #1C2434;
    padding: 20px;
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.controlGroup {
    margin-bottom: 20px;
}

.controlGroup label {
    font-size: 18px;
}

.selectBox {
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding-top: 15px;
    margin-top: 15px;
}

.selectBox li {
    color: var(--gray);
    margin-bottom: 8px;
    padding-left: 30px;
    position: relative;
}

.selectBox li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    cursor: pointer;
}

.selectBox li.checked::before {
    background: var(--orange);
}

.button {
    width: 100%;
    text-align: center;
    background: var(--orange);
    padding: 12px 25px;
    outline: none;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}